name: Install and Test LL on Linux

on:
  push:
    paths:
      - 'install_linux.sh'
      - '.github/workflows/linux.yml'
  pull_request:
    paths:
      - 'install_linux.sh'
      - '.github/workflows/linux.yml'
  workflow_dispatch:

jobs:
  install_and_test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9  # 指定 Python 3 版本

    - name: Install dependencies
      run: |
        sudo apt-get install -y libgtk-3-0 libnotify4 libnss3 libxss1 libxtst6 xdg-utils libatspi2.0-0 libuuid1 libsecret-1-0
        python3 -m pip install --upgrade pip
        python3 -m pip install requests

    - name: Download and Install QQ Software
      run: |
        python3 get_qqnt.py Debianx64
        sudo dpkg -i LinuxQQ.deb
        sudo apt-get install -f

    - name: Run install_linux.sh
      run: |
        chmod +x install_linux.sh
        ./install_linux.sh

    - name: Check output and directory existence
      run: |
        if ! /opt/QQ/qq --logging-enable | grep -q "[LiteLoader]" || [ ! -d "/opt/LiteLoader/plugins" ]; then
          echo "LiteLoader not found in output or /opt/LiteLoader/plugins directory does not exist. Test failed."
          exit 1
        else
          echo "LiteLoader found in output and /opt/LiteLoader/plugins directory exists. Test succeeded."
        fi
