name: Install and Test LL on macOS

on:
  push:
    paths:
      - 'install_mac.sh'
  pull_request:
    paths:
      - 'install_mac.sh'
  workflow_dispatch:

jobs:
  install_and_test:
    runs-on: macos-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Download and Install QQ Software
      run: |
        curl -LO https://dldir1.qq.com/qqfile/qq/QQNT/05e3ad8d/QQ_v6.9.29.21484.dmg
        hdiutil attach QQ_v6.9.29.21484.dmg
        cp -R /Volumes/QQ/QQ.app /Applications
        hdiutil detach /Volumes/QQ
        open /Applications/QQ.app/ &
    - name: Run install_mac.sh
      run: |
        chmod +x install_mac.sh
        ./install_mac.sh
        
    - name: Run QQ on macOS, wait, and check LiteLoader
      run: |
        /Applications/QQ.app/Contents/MacOS/QQ &  # 启动 QQ，放入后台
        sleep 3  # 等待 3 秒

        # 关闭 QQ 应用程序，这里使用 pkill 假设 QQ 进程的名字为 QQ
        pkill QQ

        # 检查 LiteLoader 插件是否存在
        if [ -d "$HOME/Library/Containers/com.tencent.qq/Data/Documents/LiteLoader/plugins" ]; then
          echo "LiteLoader plugins folder exists. Test succeeded."
        else
          echo "LiteLoader plugins folder does not exist. Test failed."
          exit 1
        fi