name: Install and Test LL on Windows

on:
  push:
    paths:
      - 'install_windows.py'
  pull_request:
    types: [opened]
    paths:
      - 'install_windows.sh'
  workflow_dispatch:

jobs:
  install_and_test:
    runs-on: windows-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9  # 指定 Python 3 版本

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install requests
        python3 -m pip install rich
        python3 -m pip install psutil

    - name: Install pyinstaller & Build install_windows.exe
      run: |
        python3 -m pip install pyinstaller
        pyinstaller --onefile install_windows.py

    - name: Upload install_windows.exe
      uses: actions/upload-artifact@v4
      with:
        name: install_windows
        path: dist/install_windows.exe

    - name: Download and Install QQ Software
      run: |
        # Download QQ software
Write-Output "from requests import get\nr=get('https://cdn-go.cn/qq-web/im.qq.com_new/latest/rainbow/windowsDownloadUrl.js').text\nr=r[r.find('ntDownloadX64Url')+19:]
\nwith open('QQInstaller.exe','wb') as QQ:\n QQ.write(get(r[:r.find('"')],stream=True).content)" | python
        # Install QQ silently
        Start-Process -FilePath QQInstaller.exe -ArgumentList '/S' -Wait

    - name: Run install_windows.exe
      run: |
        .\dist\install_windows.exe

    - name: Run QQ with logging
      run: |
        start "C:\Program Files\Tencent\QQNT\QQ" --enable-logging 

    - name: Check if LiteLoader plugins folder exists
      run: |
        if (Test-Path "C:\Program Files\Tencent\QQNT\resources\app\LiteLoaderQQNT-main\plugins") {
          Write-Host "LiteLoader plugins folder found. Test passed."
        } else {
          Write-Host "LiteLoader plugins folder not found. Test failed."
          exit 1
        }
